<div id="image-container" class="image-container">
    <img class="logo-image" src="./assets/images/menu/logo.png" alt="Logo">
    <button class="cart">
      <img class="cart-image" src="./assets/images/menu/shopping_cart.png" alt="Wózek">
      <span>W koszyku: 0&nbsp;</span> |  &nbsp; <span> Do zapłaty: 0 PLN</span> 
    </button>
</div>

<div class="navbar" id="navbar">
    
    <a routerLink="/home">Strona główna</a>

    <div class="dropdown">
      <button class="dropbtn">Category 1</button>
      <div class="dropdown-content">
        <a href="#">Product 1</a>
        <a href="#">Product 2</a>
        <a href="#">Product 3</a>
      </div>
    </div> 

    <div class="dropdown">
        <button class="dropbtn">Category 2</button>
        <div class="dropdown-content">
          <a href="#">Product 1</a>
          <a href="#">Product 2</a>
          <a href="#">Product 3</a>
        </div>
      </div> 
      

      <div class="dropdown">
        <button class="dropbtn">Category 3</button>
        <div class="dropdown-content">
          <a href="#">Product 1</a>
          <a href="#">Product 2</a>
          <a href="#">Product 3</a>
        </div>
      </div> 

    <a href="/sales">Promocje</a>
    <a href="/news">Nowości</a>
    <a href="/contact">Kontakt</a>
    <a href="/about-us">O nas</a>
  </div>